@model IEnumerable<T3_DelCastillo_JoseMiguel.Models.Libro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Libros</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Libro" asp-action="Crear" class="btn btn-primary">Nuevo Libro</a>
        </div>
    </div>

    <br />

    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Tema</th>
                    <th>Editorial</th>
                    <th>Año de publicación</th>
                    <th>Paginas</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.Titulo</td>
                        <td width="30%">@item.Autor</td>
                        <td width="30%">@item.Tema</td>
                        <td width="30%">@item.Editorial</td>
                        <td width="20%">@item.AnioPublicacion</td>
                        <td width="20%">@item.Paginas</td>
                        <td width="30%">@item.Categoria</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Libro" asp-action="Editar" asp-route-Id="@item.Id" class="btn btn-primary mx-2">Editar</a>
                                <a asp-controller="Libro" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-primary mx-2">Eliminar</a>
                                <button class="btn btn-primary mx-2" onclick="obtenerResumenPorNombre('@item.Titulo')">Resumir</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de Libros</p>
    }
</div>

<div id="resumenDiv" class="container pt-3">
    <h3>Resumen Chat-GPT:</h3>
    <textarea id="resumenText" class="form-control" rows="5" readonly></textarea>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function obtenerResumenPorNombre(nombre) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ObtenerResumenPorNombre", "Libro")',
            data: { nombre: nombre },
            success: function (data) {
                if (data.resumen) {
                    $('#resumenText').val(data.resumen);
                } else {
                    $('#resumenText').val('No se encontró el libro.');
                }
            },
            error: function (xhr, status, error) {
                console.error("Error en la solicitud AJAX:", xhr.status, xhr.statusText, error);
                $('#resumenText').val('Ocurrió un error al intentar obtener el resumen: ' + xhr.statusText);
            }

        });
    }
</script>


